#Header{
  text-align: center;
  color: #CCFD4D;
  font-size: 60px;
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";

}

body{
  background-image: url("https://download.unsplash.com/photo-1418226970361-9f1f7227d638");




}
